/*
   Some styles inspired from the Dublin Core DCTERMS website, see:
   https://www.dublincore.org/specifications/dublin-core/dcmi-terms/
*/

div.badge-property, div.badge-class {
    float: right;
}

td.field-name {
    text-align: right;
    font-weight: 700;
}

/* for the "scroll spy" navbar feature */
body {
    position: relative;
}
