#titleP {
    margin-left: 12%;
    margin-bottom: 30px;
}

#titleP p{
}

#cgcoremetadatareferenceguide {

    
}

.table.table-sm.table-bordered {
     width: 80%;
     margin-left: 13%;
}

.theme-label {
    width: 20%;
}

.btn-sm.btn-outline-secondary.m-0 {
        border-color: white;
        color: #FFA500;
        width: 100%;
}

#informationproduct{
     margin-left: 12%;
     margin-top: 10px;
}

#Creator{
     margin-left: 12%;
     margin-top: 30px;
}

#Contributor{
     margin-left: 12%;
     margin-top: 30px;
}

#Coverage{
     margin-left: 12%;
     margin-top: 30px;
}

#scientificpublication{
     margin-left: 12%;
     margin-top: 30px;
}

#concept{
     margin-left: 12%;
     margin-top: 30px;
}

.my-4 {
     margin-left: 12%;
}
.my h3{
    /*display: none;*/
}

.my {
    position: fixed;
    width: 10%;
    margin-top: -125px;
    margin-left: 1%;
    /*border: 2px solid;*/
    border-radius: 25px;
}
 
.my.btn.btn-sm.btn-outline-secondary.m-0 {
    text-decoration: none;
    color: inherit;
    width: 80%;
    font-weight: bold;

}




